.icon {
  width: 32px;
  height: 32px;
}

.button {
  background-image: url('./images/search.png'); /* Adjust path as necessary */
  background-size: cover;
  width: 50px;  /* Or any other dimensions */
  height: 50px;
  border: none;
  cursor: pointer;
}

.container {
  display: flex; /* Establece Flexbox */
  align-items: flex-start; /* Alinea los elementos al comienzo del contenedor */
  height: 100vh; /* Opción para tomar toda la altura de la pantalla */
}

.alphabet-navigator {
  width: fit-content; /* Asigna un ancho fijo o proporcional al navegador alfabético */
  padding: 10px;
  box-sizing: border-box;
}

.contact-list {
  flex-grow: 1; /* Permite que la lista de contactos ocupe el espacio restante */
  padding: 10px;
  box-sizing: border-box;
}

/*Background color of app*/
body {
  background-color: var(--medium-gray);
}