/* src/components/AlphabetNavigator.css */

  .letter {
    color: var(--dark-gray);
    padding: 5px;
    cursor: pointer;
    width: fit-content;
  }
  
  .letter.active {
    background-color: var(--medium-gray);
    color: var(--lightest-gray);
  }
  