/* src/components/AlphabetNavigator.css */
.alphabet-navigator {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .letter {
    color: var(--dark-gray);
    padding: 5px;
    cursor: pointer;
  }
  
  .letter.active {
    background-color: var(--medium-gray);
    color: var(--lightest-gray);
  }
  