.alphabet-navigator {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }
  
  .letter {
    padding: 5px;
    cursor: pointer;
    border: none;
    background: none;
  }
  
  .letter.active {
    border: 2px solid blue; /* o cualquier estilo que prefieras para el indicador activo */
    padding: 3px;
  }
  