/* contact-list.css */
.contact-list {
    display: flex; /* Habilita flexbox */
    flex-direction: column; /* Organiza los elementos hijos en dirección vertical */
    width: 100%; /* Ocupa todo el ancho disponible */
    align-items: center; /* Centra los items horizontalmente */
    padding: 10px 0; /* Espacio vertical sin afectar el espacio horizontal */
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contact-item {
    width: 100%; /* Ajusta según necesidades */
    margin: 20px 0; /* Espacio entre contactos */
    display: flex;
    flex-direction: column; /* Organiza los elementos del contacto en columna */
    align-items: center; /* Centra los elementos del contacto verticalmente */
  }
  
  .contact-image {
    width: 100px; /* Ajusta según el diseño */
    height: 100px; /* Asegura que la imagen sea proporcional y adecuada */
    margin-bottom: 10px; /* Espacio entre la imagen y el texto debajo */
    border-radius: 50%; /* Hace la imagen circular */
  }

  