.todo-list-container {
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    background-color: var(--lightest-gray);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    min-height: 100vh; /* Ensure full height */
}

.header_TodoList {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.user-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
}

.user-image-container img {
    width: 40%;
    height: 40%;
}

h2, h3 {
    margin: 0;
    font-weight: normal;
}

.todo-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 60px; /* Space for buttons */
}

.todo-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.status-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.todo-details {
    flex: 1;
}

.task-title {
    font-weight: bold;
    margin: 0;
}

.task-description {
    margin: 0;
}

.task-date {
    margin: 0;
    font-size: 0.9em;
    color: #888;
}

.add-todo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    
}

.add-todo-container input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid black; /* Thicker black border */
    width: 100%;
}

.add-todo-container button {
    padding: 10px;
    border-radius: 10px;
    border: 3px solid black; /* Thicker black border */
    color: #000;
    cursor: pointer;
    width: 100px;
}

.action-buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.action-buttons button {
    padding: 10px;
    border-radius: 10px;
    border: 3px solid black; /* Thicker black border */
    color: #000;
    cursor: pointer;
    width: 100px;
}

.action-buttons button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.add-todo-container input[type="date"] {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid black; /* Thicker black border */
    width: 100%;
    color: #000;
    cursor: pointer;
    
}
.todo-item.selected {
    background-color: #e0f7fa;  /* Light cyan color for selected item */
    border: 3px solid #00796b;  /* Darker border for selected item */
    transition: background-color 0.3s ease, border 0.1s ease;
}

.todo-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 95%;
    cursor: pointer;
}

.todo-item:hover {
    background-color: #f1f1f1;
}

.status-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.todo-details {
    flex: 1;
}

.task-title {
    font-weight: bold;
}

.task-description {
    margin: 0;
}

.task-date {
    font-size: 0.9em;
    color: #888;
}
